<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Local and Remote Persistence 
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-input required type="text" placeholder="Task" [(ngModel)]="todo.task"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="number" placeholder="Priority" [(ngModel)]="todo.priority"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveTodoOnline()">Save Online</ion-button>
  <ion-button expand="full" (click)="saveTodoLocal()">Save Local</ion-button>

  <ion-list>
      <ion-list-header color="tertiary">
          <ion-label>Remote</ion-label>
        </ion-list-header>
    <ion-item-sliding *ngFor="let item of todosOnline">
    <ion-item>
      <ion-label>
        {{ item.task }}
        <p>{{ item.createdAt | date:'short' }}</p>
      </ion-label>
      <ion-note slot="end" color="primary">{{ item.priority }}</ion-note>
    </ion-item>
    <ion-item-options side="start">
        <ion-item-option routerLink="/details/{{item.id}}" routerDirection="forward">More</ion-item-option>
        <ion-item-option color="danger" (click)="removeTodoOnline(item)">Delete</ion-item-option>
      </ion-item-options>
  </ion-item-sliding>
 </ion-list>
 <ion-list>
    <ion-list-header color="secondary">
        <ion-label>Local</ion-label>
      </ion-list-header>
      
  <ion-item-sliding *ngFor="let item of todosLocal; index as i">
    <ion-item>
      <ion-label>
        {{ item.task }}
        <p>{{ item.createdAt | date:'short' }}</p>
      </ion-label>
      <ion-note slot="end" color="primary">{{ item.priority }}</ion-note>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option routerLink="/details/{{i}}" routerDirection="forward"> More </ion-item-option>
      <ion-item-option color="danger" (click)="removeTodoLocal(i)">Delete</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
 
 </ion-list>
</ion-content>
